<strong>Recuperando senha</strong>
<p>Uma solicitação de recuperação de senha foi realizada para o e-mail({{ email }}). Se você não foi o autor dessa requisição recomendamos você trocar a sua senha!</p>
<p>Para continuar com a recuperação de senha, utiliza o código {{token}}</p>
